
*.wav
*.mp4
/visemes
visemes/close.png
visemes/tumblr_pp8v0ea7tu1xmw48io1_1280.jpg
visemes/а_я.png
visemes/б_п.png
visemes/г_к.png
visemes/д_т_н.png
visemes/ж_ш.png
visemes/з_с_ц.png
visemes/и.png
visemes/й.png
visemes/л.png
visemes/м.png
visemes/о_ё.png
visemes/р.png
visemes/у_ю.png
visemes/ф_в.png
visemes/х.png
visemes/ч_щ.png
visemes/ы.png
visemes/э_е.png
*.mp4
